<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div>
        <p>I believe that life is a journey of self-discovery, and that each of us is a work in progress. While I'm proud of what I've achieved so far, I'm also aware that I'm not perfect, and I've made mistakes in the past. But instead of dwelling on those mistakes, I'm using them as opportunities to learn and grow.</p>

        <p>I'm currently studying the CS50 course from Harvard University and I'm passionate about learning new coding skills. I believe that learning how to code is not only a useful skill, but it also teaches you how to think critically and solve problems creatively.</p>
          
        <p>In my free time, I enjoy gaming and watching anime to unwind. But I'm not all about fun and games! I'm also passionate about making healthy choices, which is why I enjoy working out at the gym regularly.</p>
        
        <div class="col-lg-12 text-center">
          <h2>My Love for Coding</h2>
          <hr class="star-light">
        </div>
        <p>
          I'm currently studying the CS50 course from Harvard University, and I'm excited to learn more about coding. I believe that coding is a powerful tool that can be used to solve real-world problems and make a positive impact in the world. I'm looking forward to exploring different programming languages and tools as I continue my coding journey.
        </p>
      </div>
    </div>
  </div>
</section>
